h1{
background-color: rgb(168, 240, 245);
width: 21%;
text-align: center;
}
h2{
font-weight: 100;
background-color: rgb(243, 78, 13);
}       
h3{
    font-weight: 100;
}
body{
    background-color: rgb(193, 176, 154);
}